{% extends "shows/base.html" %}

{% block content %}

<article>
  <h1>{{ character.name }}</h1>

  <h3>Biography</h3><p>{{ character.bio }}</p>
  <h3>Played by</h3><p>{{ character.actor }}</p>
  <h3>TV Show</h3><p>{{ character.show }}</p>

</article>
<ul class="pager">
  <li><a href="#" class="btn btn-primary">Previous</a></li>
  <li><a href="{% url 'shows:character-index' %}" class="btn btn-primary" role="button">Back</a></li>
  <li><a href="#" class="btn btn-primary">Next</a></li>
</ul>

{% endblock %}
