{% extends "shows/base.html" %}

{% block content %}

<!-- <form action="{% url 'shows:create-account' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
</form> -->


<form class="form-horizontal" method="POST" action="{% url 'shows:create-account' %}">
  {% csrf_token %}
  <fieldset>
    <legend>Create an account</legend>

    <div class="form-group">
      <label for="id_username" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-2">
        <!-- {{ form.user_name }} -->
        <input type="text" class="form-control" id="id_username" placeholder="Username" name="user_name">
      </div>
    </div>
    <div class="form-group">
      <label for="id_password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-2">
        <input type="password" class="form-control" id="id_password" placeholder="Password" name="password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" value="OK" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
</form>


{% endblock %}
