{% extends "shows/base.html" %}

{% block content %}

<article>
  <h1>{{ review.show }}</h1>

  <h3>Rating</h3><p>{{ review.user_rating }}</p>
  <h3>User</h3><p>{{ review.user }}</p>
  <h3>Review</h3><p>{{ review.review_text }}</p>
  <h3>Created</h3><p>{{ review.created }}</p>
  <h3>Modefied</h3><p>{{ review.modefied }}</p>

</article>
<ul class="pager">
  <li><a href="#" class="btn btn-primary">Previous</a></li>
  <li><a href="{% url 'shows:review-index' %}" class="btn btn-primary" role="button">Back</a></li>
  <li><a href="#" class="btn btn-primary">Next</a></li>
</ul>

{% endblock %}
