{% extends "shows/base.html" %}

{% block content %}

<article>
  <h1>{{ show.title }}</h1>

  <h3>Description</h3><p>{{ show.description }}</p>
  <h3>Release Date</h3><p>{{ show.release_date }}</p>
  <h3>Country</h3><p>{{ show.country }}</p>
  <h3>Language</h3><p>{{ show.language }}</p>
  <h3>TV Rating</h3><p>{{ show.tv_rating }}</p>
  <h3>Production Company</h3><p>{{ show.production_co }}</p>

</article>
<ul class="pager">
  <li><a href="#" class="btn btn-primary">Previous</a></li>
  <li><a href="{% url 'shows:show-index' %}" class="btn btn-primary" role="button">Back</a></li>
  <li><a href="#" class="btn btn-primary">Next</a></li>
</ul>

{% endblock %}
